.ad_sidebar{
    width: 15%;
    position: fixed;
    height: 100%;
    color: white;
    background-image:url('../images/adminback.jpg');


}
.ad_outlet{
    width: 85%;
    margin-left: 15%;
    background-size: cover;
    background-image: url('../images/adminback.jpg');
}
.admin_nav{
    width: 100%;
    height: 9vh;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}
.ad_sidebar li{
    height: 50px;
    padding-left: 10%;
    font-weight: 300;
    margin-top: 20px;
  

}
.ad_sidebar>div{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 19, 43, 0.547);
    padding-top: 1rem;
    backdrop-filter: blur(80px);

}
.ad_sidebar>div>nav{
    margin-top: 10rem;
    padding-left: 0;

}
.link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;  
    gap: 0.8rem;
    color: rgba(240, 248, 255, 0.827);
    padding: 7px 2vw;
    text-decoration: none;


}

.link.true{
    color: #5cd3ffd3;
    background-color: rgba(72, 85, 107, 0.514);

}

.heading_ad{
    font-size: 0.7rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}


.ad_ul li:hover{
    text-decoration: none;
    color: red;

}
.ad_ul_title{
    text-decoration: none;
}
.ad_ul_title:hover{
    text-decoration: none;
}