.an_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    background-color: #50516828;
    border-bottom: 1px solid rgba(128, 128, 128, 0.351);
    height: 100%;
}
.ad_div3{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.5rem;
}
.ad_div3>div{
    transition: all 0.3s ease-in-out;

}
.nav_ll{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav_ll>button{
    padding: 6px 20px;
    border-radius: 25px;
    font-size: 0.9rem;
    
}
.nav_ll>button:hover{
    scale: 102%;
    cursor: pointer;
}
.an_main>div>h1{
    font-weight: 300;
    letter-spacing: 1px;
}