.ad_sidebar{
    width: 15%;
    background-color: #1f2a40;
    position: fixed;
    height: 100%;
    padding-top: 5vh;
    color: white;

}
.ad_outlet{
    width: 85%;
    margin-left: 15%;
}
.admin_nav{
    width: 85%;
    height: 10vh;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}
.ad_sidebar li{
    height: 50px;
    padding-left: 10%;
    font-weight: 300;
    margin-top: 20px;
  

}
.ad_sidebar>nav{
    margin-top: 5rem;
    padding-left: 2vw;
}
.link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;  
    gap: 0.8rem;
    color: rgba(240, 248, 255, 0.827);
}

.link.true{
    color: #7b83d1d3;
}
