.card_main{
  width: 30vw;
  height: 300px;
  background-color: rgba(69, 31, 127, 0.222);
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);

}
.card_div1,.card_div2{
  width: 100%;
  height: 100%;
}
.card_div1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card_div1>h1{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
.card_div1>img{
  width: 200px;
}
.card_div2{
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;

}
.card_div2.true{

  height: 100%;
  display: flex;
  padding: 2rem;


}
.card_div2{
  color: rgb(0, 0, 0);
 
 
  font-size: 300;
  letter-spacing: 0.8px;

}
.card_div2>p{
  font-size: 0.8rem;
  text-align: center;
  display: none;
}
.card_div2>button{
  background-color: rgb(43, 37, 37);
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  display: none;
}
.card_div2.true>p{
  display: flex;
}
.card_div2.true>button{
  display: flex;
}