.card_main{
  width: 30vw;
  height: 260px;
  /* background: linear-gradient(to top right, rgba(3, 16, 59, 0.5), rgba(49, 56, 150, 0.692)); */
  /* background: linear-gradient(to top right, rgba(117, 37, 171, 0.5), rgba(111, 77, 129, 0.692)); */
  /* background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); */
  position: relative;
  border-radius: 10px;
  /* border: 1px solid rgba(79, 41, 106, 0.214); */
  /* box-shadow: 0px 4px 15px rgba(5, 1, 26, 0.5); */
} 


.card_div1,.card_div2{
  width: 100%;
  height: 100%; 
}
.card_div1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card_div1>h1{
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.916);
}
.card_div1>div{
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

/* ////classs for left ///////////// */
.card_div2left{
  background: linear-gradient(to top right, rgb(9, 10, 41), rgb(9, 10, 41));
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden; /* Ensures content is hidden when height is 0 */
  transition: all 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 300;
  letter-spacing: 0.8px;
  padding: 2rem;
  transform: translateX(-20%);

}
.card_div2left.true{
  overflow: hidden;
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}


/* ////classs for mid ///////////// */
.card_div2mid{
  background: linear-gradient(to top right, rgb(9, 10, 41), rgb(9, 10, 41));
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden; /* Ensures content is hidden when height is 0 */
  transition: all 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 300;
  letter-spacing: 0.8px;
  padding: 2rem;
  transform: translateY(-20%);

}
.card_div2mid.true{
  overflow: hidden;
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

/* ////classs for right ///////////// */
.card_div2right{
  background: linear-gradient(to top right, rgb(9, 10, 41), rgb(9, 10, 41));
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden; /* Ensures content is hidden when height is 0 */
  transition: all 0.3s ease-in-out; /* Smooth animation */
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 300;
  letter-spacing: 0.8px;
  padding: 2rem;
  transform: translateX(20%);

}
.card_div2right.true{
  overflow: hidden;
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}



.card_div2_div{
  display: flex;
  flex-direction: row;
  gap: 5px;
  opacity: 1;

}

.card_div2_p{
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  transition: all 0.s 
}
.card_div2_div>button{
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;

 
}



@keyframes jumpyAnimation {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Move 200px to the right */
  }
}

