.careermain{
    width: 100%;
} 
.career_div1{
    background-image: url(../images/career.png);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100%;


}
.career_div11{
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    text-align: center;

}
.career_div11>div{
  text-transform: uppercase;
  font-size: calc(10px + 2vw);
  letter-spacing: 1px;


}
.career_div11>p{
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.career_div21{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

.career_div21_1{
    color: rgb(136, 136, 234);
    font-size: 0.75rem;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(136, 136, 234);
    margin-bottom: 20px;
}
.career_div21_2{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.career_div21_3{
    font-size: 0.75rem;
    color: white;
    font-weight: 200;
    letter-spacing: 1.2px;

}
.career_div22{
    padding-top: 5rem;
    display: flex;
    padding-bottom: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;


}
.career_div22_1{
    width: 60%;
    border-bottom: 1px solid #f9f9f93a;
    height: 120px;
    position: relative;
    cursor: pointer;
}
.career_div22_11{
    position: absolute;
    top: 10px;
    padding: 1px 5px;
    color: white;
    border-radius: 4px;
    left: 10px;
    font-weight: 300;
}
.career_div22_2{
    display: flex;
    flex-direction: row;
    
}
.career_div22_2>div{
    width: 50%;


}
.career_div22_21{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.career_div22_21{
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}
.career_div22_21>ul{
    font-size: 0.7rem;
    font-weight: 300;
    color: rgb(203, 203, 203);
    text-transform: capitalize;
}
.career_div22_21>p{
  font-size: 0.75rem;
  margin-left: 5px;
  color: rgb(229, 225, 225);
  margin-top: 10px;
}
.career_div22_21>ul>li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.career_div22_22>div{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;

}
.career_div22_22{
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
}
/* styles.css */
.careerdetail_1 {
    
    right: auto;
    bottom: auto;
    background: #04042f8e;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 98vh;
    overflow-y: scroll;
    position: relative;
    color: white;
    

    scrollbar-width: thin; /* Options: auto | thin | none */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  
  }
  
  .careerdetail {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
  }
  .jodmodeldesc p{
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .jodmodeldesc{
    padding: 3% 10%;
  }
  .jodmodeldesc>h2{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .jodmodeldesc>h3{
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 300;

  }
  .jodmodeldesc>h4{
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 300;

    text-transform: uppercase;
  }
  .jodmodeldesc>h5{
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    margin: 10px 0px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .jodmodeldesc>p{
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  .jodmodeldesc1{
    text-align: center;
    padding: 2rem 0;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .jodmodeldesc1>h2{
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
  .skillset_div{
    display: grid; /* Use CSS grid for layout */
    grid-template-columns: repeat(4, 1fr); /* 5 boxes per row */
    gap: 10px;
    margin-top: 10px;
    font-size: 0.85rem;
    justify-content: end;
    align-items: end;
  }
  .skillset_div>div{
    padding: 3px 8px;
    border: 1px solid rgb(182, 149, 220);
    border-radius: 3px;
    
  
  }
  .jodmodeldesc2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
  .jodmodeldesc2>button{
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 100px;
    color: rgb(39, 36, 36);
    letter-spacing: 2px;
    border-radius: 25px;
    font-size: 0.85rem;

    font-weight: 500;
  }
  .closemodel{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .closemodel:hover{
    scale: 110%;
    color: rgb(255, 255, 255);

  }
  .career_div21_4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: gray;
    
  }
  .career_div21_4>h1{
    font-size: 1rem;
  }
  .career_div21_4_h1{
    cursor: pointer;
    /* font-size: 1rem; */
  }
  .career_div21_4_h1.true{
    color: white;
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: all 0.3s ease-in-out;
    text-decoration-color: rgb(128, 46, 215);
  }
  @media only screen and (max-width: 576px) {


  .career_div2{
  }
  .career_div21{
      padding: 4rem 0;
   
  }
  
  .career_div21_1{
      font-size: 10px;
  }
  .career_div21_2{
      font-size: 13px;
  }
  .career_div21_3{
      font-size: 8px;
      width: 80%;
  
  }
  .career_div22{
      padding-top: 2rem;
      padding-bottom: 5rem;
  
  
  }
  .career_div22_1{
      width: 90%;
      height: fit-content;
      padding-bottom: 10px;
  }


  .career_div22_21{
      margin-top: 5px;
      padding-left: 10px;
  }
  .career_div22_21{
      font-size: 11px;
  }
  .career_div22_21>ul{
      font-size: 9px;
  }
  .career_div22_21>p{
    font-size: 9px;
  }

  
  /* styles.css */
  .careerdetail_1 {
      
      right: auto;
      bottom: auto;
      background: #2e2d2d;
      padding: 20px;
      border-radius: 8px;
      width: 95%;
      height: 98vh;
    }
    
    .jodmodeldesc p{
      font-weight: 300;
      font-size: 8px;
      margin-bottom: 7px;

    }
    
    .jodmodeldesc{
      padding: 3% 10%;
      font-size: 10px;
    }
    .jodmodeldesc>h2{
      font-size: 13px;
      margin-top: 2rem;
    }
    .jodmodeldesc>h3{
      text-align: center;
      font-size: 9px;
      letter-spacing: 1px;
      font-weight: 300;
  
    }
    .jodmodeldesc>h4{
      font-size: 10px;
      margin-top: 5px;
  
    }
    .jodmodeldesc h1{
      font-size: 10px;
      margin-top: 20px;
    }
    .jodmodeldesc>h5{
      text-align: left;
      font-size: 10px;
      letter-spacing: 1px;
      margin-top: 10px;
      
      text-transform: uppercase;
    }
    .jodmodeldesc p{
      font-size: 8px;
    }
  
    .jodmodeldesc1{
      padding: 1rem 0;
    }

    .jodmodeldesc2{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
    }
    .jodmodeldesc2>button{
      height: 30px;
      width: 100px;
      font-size: 0.7rem;
    }
    .closemodel{
      position: absolute;
      top: 20px;
      right: 20px;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      cursor: pointer;
    }
    .closemodel:hover{
      scale: 110%;
      color: rgb(255, 255, 255);
  
    }
    .career_div21_4{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      color: gray;
    }
    .career_div21_4_h1{
      cursor: pointer;
      font-size: 1rem;
    }
    .career_div21_4_h1.true{
      color: white;
      text-decoration: underline;
      text-underline-offset: 7px;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      text-decoration-color: rgb(128, 46, 215);
    }
  
  
  }