.connect_form{
    position: fixed;
    top: 0;
    right: -55%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
    z-index: 17;
    padding-left: 2rem;
    padding-top: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.connect_form.true{
    right: 0;


}
.connect_div1{
    font-size: 1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    margin-top: 0;
    font-weight: 300;
    height: 3%;
}
.connect_form textarea{
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.connect_button{
    display: flex;
    justify-content: center;
    
}
.connect_button>button{
    padding: 7px 25px;
    background-color: rgb(9, 10, 41);
    border-radius: 25px;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.connect_closebtn{
    position: absolute;
    top: 12px;
    right: 20px;
}
.connect_closebtn{
    font-size: 1.2rem;
    cursor: pointer;
}
.connect_form_6{
    height: 90%;
  
   
}
.connect_form_6>form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    gap: 5px;
}
.connect_form_6>form input{
    height: 10px;
    
}

#outlined-required-label{
    font-size: 0.8rem;
}