.ad_job_main{
    padding-top: 10vh;
    background-color: #02142a90;
   min-height: 100vh;
    backdrop-filter: blur(50px);
    
}
.ad_job_div1{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;

}
.ad_job_div13{
    color: white;
    background-color: rgba(154, 151, 151, 0.26);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    height: 45px;
    font-weight: 300;

}
.ad_job_div11>h1{
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    font-weight: 300;
}
.ad_job_div11>p{
    color: #d7d3d3;
    font-weight: 300;
}
.ad_job_div12{
    color: white;
    background-color: rgba(154, 151, 151, 0.26);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px 1px rgba(4, 20, 41, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;


}
.tableCon{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}
.job_table_bottom{
    background-color: #f4f4ff;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    align-items: center;

}
.job_appli{
    height: 50%;
    width: 100%;
    padding-left:5rem ;
    padding-top: 5rem;

}
.job_appli>div{
    display: flex;
    flex-direction: row;

}

.jobseekerlist{
    background-color: #ffffff;
    margin-bottom: 5px;
    height: 60px; 
    padding-left: 2rem;
    font-weight: 500;

    
}
.jobseekerlist:hover{
    transition: scale 0.1s ease-in-out;
    scale: 100.5%;
    cursor: pointer;

    
}
.jobseekerlist.true{
    color: rgb(132, 130, 130);
    background-color: #d2d8da;
    font-weight: 300;


}

.jobseekerlist>div{
    text-align: left;
    width: 24%;
    display: flex;
    align-items: center;


}

.jobseekerlisthead{
    /* background-color: #5156b5; */
    background-color: #365c85;
    color: white;
    margin-bottom: 5px;
    height: 50px; 
    padding-left: 2rem;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


    
}

.jobseekerlisthead>div{
    text-align: left;
    width: 24%;
    display: flex;
    align-items: center;


}
.selectedjsdata{
    width: 100%;
    height: 100vh;
    
    background-color: rgba(52, 51, 51, 0.321);
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.jobpostForm{
    background-color: rgba(52, 51, 51, 0.321);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

}
.particular_jobdata{
    background-color: rgba(52, 51, 51, 0.321);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Delete_pop{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(52, 50, 50, 0.421);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Delete_pop>div{
    width: 50%;
    height: 40%;
    backdrop-filter: blur(10px);
    background-color: #9e8f8fc0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.job_delete_button{
    padding-left: 20px;
}
.job_delete_button:hover{
    color: red;
}
.Delete_pop>div>p{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.Delete_pop>div>h1{
    font-size: 1.2rem;
}
.dp_buttondiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}
.dp_buttondiv>button{
    padding: 7px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 300;
    background-color: #af2a05;

}
.dp_buttondiv>button:hover{
    scale:103%;
}
.dp_buttondiv>button:active{
    scale:97%;
}
.StyledTableRow{
    background-color: #365c85;
}


.ad_j-table-container {
    width: 80%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    padding: 20px;
  }
  
  .ad_j-table-title {
    color: white;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.497);

  }
  
  .ad_j-orders-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
  }
  
  .ad_j-orders-table th, .ad_j-orders-table td {
    padding: 10px;
    color: #ddd;
  }
  .ad_j-orders-table th{

    font-weight: 600;
    letter-spacing: 1px;

  }
  .ad_j-orders-table td {
    letter-spacing: 0.5px;
    font-weight: 300;
    border-bottom: 1px solid rgba(128, 128, 128, 0.249);
  }

  
  .ad_j-orders-table th {
    background: rgba(192, 210, 209, 0.058);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
  

  }
  
  .ad_j-orders-table td {
    height: 60px;
  }
  
  .ad_j-orders-table tbody tr {
    transition: background 0.3s ease;
  }
  
  .ad_j-orders-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .ad_j-product-name {
    display: flex;
    align-items: center;
  }
  
  .ad_j-action-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 2px;
    transition: color 0.3s ease;
  }
  
  .ad_j-action-btn:hover {
    color: #ddd;
  }
  .jobTableMain{
    width: 90%;
  }
  .ad_j-orders-table>thead{
    height: 10px;
  }