.mb_main{
    width: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    height: 100%;
    top: 0;
    transition: width 0.3s ease-in-out;
   

    right: 0;
}
.mb_main.true{
    width: 27%;
    backdrop-filter: blur(10px);
    
}
.menu_items{
    margin-top: 7rem;
    padding: 2rem;
    font-size: 1rem;
    margin-left: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    

   
}
.menu_items>div{
    margin: 20px 0;

}