.navbar_main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(10px);

    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_main>div{
    width: 33.3%;
}
.navbar_main{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    letter-spacing: 1rem;
}



.logoclass{
    background-color: blue;
}

.navbar_div2>img{
    width: 22px;
    opacity: 80%;
}
.navbar_div3{
    display: flex;
    justify-content: end;
}
.navbar_div2{
    display: flex;
    justify-content: center;
}
.navbar_div1{
    color: white;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 11px;
}
.navbar_div1.true{
    color: rgba(50, 8, 70, 0.912);

}

@media only screen and (max-width: 500px) {
    .navbar_div1{
        color: white;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 2px;
        word-spacing: 3px;
        font-size: 5.8px;
    }
    .navbar_div2>img{
        width: 18px;
        opacity: 80%;
    }
}