.question_main {
    color: #f0f0f0; 
    padding: 20px;
    border-radius: 8px;
    padding-top: 10vh;
    padding-bottom: 3rem;
    padding-left: 3vw;
    margin: auto;
  }

  
  .instructions {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
    color: #c7c7c7d2; 
  }
  
  .question_container {
    margin-bottom: 30px;
  }
  
  .option_container {
    margin-top: 10px;
  }
  
  .question_divbtn{
    display: flex;
    justify-content: end;
    padding-right: 5rem;
  }
  .ques_inst{
    font-size: 15px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.4rem;
  }
  .submit_button {
    background-color: #160934; /* Button color */
    color: white;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 25px;
    letter-spacing: 1px;

    cursor: pointer;
    transition: background-color 0.3s;
   border: 1px solid rgba(128, 128, 128, 0.21);
  }
  
  .submit_button:hover {
    background-color: #24052f; /* Darker button on hover */
  }
  .qustion_div1{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 1px ;
    text-transform: uppercase;
    text-decoration: none;
    text-underline-offset: 7px;
    letter-spacing: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(196, 193, 193, 0.844); 


  }
  
  .instruction_div{
    border-bottom: 1px solid gray;
  }
  .question_con{
    margin-top: 3rem;
  }