.question_main {
    background-color: #1e1e1e; /* Dark background */
    color: #f0f0f0; /* Light text color */
    padding: 20px;
    border-radius: 8px;
    padding-top: 10vh;
    padding-bottom: 3rem;
    padding-left: 3vw;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  
  .instructions {
    text-align: left;
    margin-bottom: 20px;
    font-style: italic;
    color: #c7c7c7d2; 
  }
  
  .question_container {
    margin-bottom: 30px;
  }
  
  .option_container {
    margin-top: 10px;
  }
  
  .question_divbtn{
    display: flex;
    justify-content: end;
    padding-right: 5rem;
  }
  .submit_button {
    background-color: #3282d7; /* Button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit_button:hover {
    background-color: #0056b3; /* Darker button on hover */
  }
  .qustion_div1{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 1px ;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(196, 193, 193, 0.844); 


  }
  
  .instruction_div{
    border-bottom: 1px solid gray;
  }
  .question_con{
    margin-top: 3rem;
  }