.si_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.si_div1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

 
}

.si_div1>div{
    width: 40%;
}
.si_div11_1{
    font-size: calc(0.5px + 0.9vw);
    font-weight: 300;
    letter-spacing: 0.7px;
    width: 80%;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}
.si_div11_1.dev{
    opacity: 1;

}
.si_div11_1.digital,.si_div11_1.data{
    opacity: 1;

}
.si_div11_0{
    margin: 1rem 0;
    font-size: 1.8rem;
    border-left: 3px solid rgb(181, 71, 187);
    padding-left: 10px;
    height: 25px;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides the overflow text */
    text-overflow: ellipsis; 
}
.si_div11_01{
    transform: translateX(-300px);
    transition: all 0.7s ease-in;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
}
.si_div11_01.dev{
    transform: translateX(0);
    

}
.si_div11_01.digital{
    transform: translateX(0);

}
.si_div11_01.data{
    transform: translateX(0);

}
.si_div11{
    padding-left: 3vw;
}
.si_main_quates{
    font-size: calc(10px + 1.2vw );
    letter-spacing: 3px;
    margin-bottom: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}
.si_div12>img{
    width: 100%;
    margin-top: 10%;
}
.si_selection{
    width: fit-content;
    height: 60px;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
.si_btn{
    width: fit-content;
    color: rgb(255, 255, 255);
    margin-top: 0.7rem;
    border-radius: 20px;
    font-weight: 300;
    font-size: 0.8rem;
    margin-left: 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.si_btn>button{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.5px;
}
.si_btn.dev{
    opacity: 1;
}
.si_btn.digital{
    opacity: 1;
}
.si_btn.data{
    opacity: 1;
}

.si_selection>div{
    width: 200px;
    height: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(48, 5, 48);
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

}
.navbtn.dev{

}
.emptydivv{
    position: absolute;
    width: 200px;
    height: 70%;
    z-index: -1;

    background-color: rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;

}
.emptydivv.digital{

    transform: translateX(220px);

}
.emptydivv.data{

    transform: translateX(440px);

}


.sifull_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4rem;
    gap: 50px;
    cursor: pointer;
}

.sifull_div1_1{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sifull_div1_2{

 width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;

    backdrop-filter: blur(20px);
    background:rgba(255, 255, 255, 0.753);
    color: rgb(62, 18, 79);
}
.sifull_div1_1>img{
    position: absolute;
    transition: all 0.8s ease;

}
.sifull_div1_2.true{
    scale: 102%;
    box-shadow: 0 2px 5px 2px rgba(230, 242, 230, 0.156);
}
.sifull_div1_2>h1{
    width: fit-content

}
.sifull_div2{
    width: 60%;
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 1.5px;
}
.sifull_div2>div>h1{
    font-weight: 300;
    font-size: 1.3rem;
    padding-left: 10px;
    margin-bottom: 1rem;
    text-transform: capitalize;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    
    


}
.sifull_div21{
    height: 30px;
    margin-bottom: 2rem;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides the overflow text */
    text-overflow: ellipsis; 
    border-left: 3px solid rgb(179, 142, 223);


}

.text {
    font-size: 2em;
    color: #333;
    transform: translateX(30px);

    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 0;
  }
  
  .fade-out {
    transform: translateX(0);

    opacity: 1;
  }
  .currenttext{
    transition: all 0.4s ease-in-out;
  }
  .msl_main{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.msl_div1>div{
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgba(255, 255, 255, 0.767);;
    margin: 10px 0;
}
.msl_div1{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
}
.msl_div2{
    height: 200px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.415);
}
.ms_border{
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.415);
}
.msl_servicename:hover{
    scale:110%;
    color: white;

}
.msl_servicename{
    cursor: pointer;
    font-size: 0.8rem;
    color: rgb(199, 199, 199);
    transition: scale 0.3s ease-in-out;

}

.msl_servicename.true{
    scale: 110%;
    color: white;
}
.si_rightkey{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 2rem;
    cursor: pointer;
    transform: translateX(-40px);

}
.si_rightkey:active{
}
.si_circleimg{
    width: 220px;
    z-index: 0;
}
.si_full_div21_2{

    font-size: calc(0.5px + 0.9vw);
    font-weight: 300;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 576px) {

.si_main_quates{
    text-align: center;
    font-size: 13px;
    width: 90%;
    padding-left: 5%;
}

.si_div12{
    background-color: aliceblue;
    display: none;
}
.si_div11_0{
    margin: 10px 0;
    font-size: 10px;
    height: 15px;
    display: flex;
    align-items: center;
}
.si_div11_01{
    transform: translateX(-300px);
    letter-spacing: 1px;
    font-size: 10px;
}
.si_div11_1{
    font-size: 8px;
    width: 100%;
}

.si_div1>div{
    width: 60%;
}
.si_rightkey{
    height: 100px;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 3%;

}
.si_btn{
    font-size: 8px;
}
.si_div1{
    margin: 0;
    padding: 10px 0;
}

.sifull_main{
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    gap: 2rem;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 5rem;
}
.sifull_div1_1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.si_circleimg{
    width: 110px;
}
.sifull_div1_2{

       flex-direction: column;
       text-transform: capitalize;
       color: rgba(255, 255, 255, 0.74);
       font-weight: 400;
       line-height: 10px;
       transform: translateX(0);
          color: rgb(81, 28, 102);
       font-size: 10px;
   }

   
.sifull_div2{
    width: 60%;
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 1.5px;
}
.sifull_div2>div>h1{
    font-weight: 300;
    font-size: 11px;
    padding-left: 10px;
    margin-bottom: 1rem;
    text-transform: capitalize;
  


}
.sifull_div21{
    height: 15px;
    margin-bottom: 10px;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides the overflow text */
    text-overflow: ellipsis; 
    border-left: 3px solid rgb(179, 142, 223);


}
.sifull_div21_p{
    font-size: 8px;
    letter-spacing: 0.8px;
    width: 90%;
}
}