.si_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.si_div1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 90%;
    padding: 5rem 0;


}
.si_div1{
    height: 70vh;
}
.si_div1>div{
    width: 50%;
}
.si_div11_1{
    font-size: 1.2rem;
    font-weight: 200; 
    width: 80%;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}
.si_div11_1.dev{
    opacity: 1;

}
.si_div11_1.digital,.si_div11_1.data{
    opacity: 1;

}
.si_div11_0{
    margin: 1rem 0;
    font-size: 1.8rem;
    border-left: 3px solid rgb(181, 71, 187);
    padding-left: 10px;
    height: 40px;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides the overflow text */
    text-overflow: ellipsis; 
}
.si_div11_01{
    transform: translateX(-300px);
    transition: all 0.7s ease-in;
    font-weight: 300;
    letter-spacing: 1px;
}
.si_div11_01.dev{
    transform: translateX(0);
    

}
.si_div11_01.digital{
    transform: translateX(0);

}
.si_div11_01.data{
    transform: translateX(0);

}
.si_main_quates{
    font-size: 3rem;
    font-weight: 300;
}
.si_div12>img{
    width: 100%;
    margin-top: 10%;
}
.si_selection{
    width: fit-content;
    height: 60px;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
.si_btn{
    width: fit-content;
    color: rgb(255, 255, 255);
    margin-top: 0.7rem;
    border-radius: 20px;font-weight: 300;
    margin-left: 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.si_btn>button{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}
.si_btn.dev{
    opacity: 1;
}
.si_btn.digital{
    opacity: 1;
}
.si_btn.data{
    opacity: 1;
}

.si_selection>div{
    width: 200px;
    height: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(48, 5, 48);
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

}
.navbtn.dev{

}
.emptydivv{
    position: absolute;
    width: 200px;
    height: 70%;
    z-index: -1;

    background-color: rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;

}
.emptydivv.digital{

    transform: translateX(220px);

}
.emptydivv.data{

    transform: translateX(440px);

}


.sifull_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4rem;
    gap: 50px;
    cursor: pointer;
}

.sifull_div1_1{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sifull_div1_2{

 width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 22px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;

    backdrop-filter: blur(20px);
    background:rgba(255, 255, 255, 0.753);
    color: rgb(62, 18, 79);
}
.sifull_div1_1>img{
    position: absolute;
    transition: all 0.8s ease;

}
.sifull_div1_2.true{
    scale: 102%;
    box-shadow: 0 2px 5px 2px rgba(230, 242, 230, 0.156);
}
.sifull_div1_2>h1{
    width: fit-content

}
.sifull_div2{
    width: 60%;
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1.5px;
}
.sifull_div2>div>h1{
    font-weight: 300;
    font-size: 1.3rem;
    padding-left: 10px;
    margin-bottom: 1rem;
    text-transform: capitalize;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    
    


}
.sifull_div21{
    height: 30px;
    margin-bottom: 2rem;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides the overflow text */
    text-overflow: ellipsis; 
    border-left: 3px solid rgb(179, 142, 223);


}

.text {
    font-size: 2em;
    color: #333;
    transform: translateX(30px);

    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 0;
  }
  
  .fade-out {
    transform: translateX(0);

    opacity: 1;
  }
  .currenttext{
    transition: all 0.4s ease-in-out;
  }
